In [1]:
# Dependencies
import pandas as pd
from pathlib import Path

## Extract 
- Download 2 csv files from Kaggle
    - https://www.kaggle.com/datasets/jameslko/gun-violence-data
    - https://www.kaggle.com/datasets/alexandrepetit881234/us-population-by-state
- Read the 2 csv files into Pandas DataFrame
- Merge them using the 'state' column

In [12]:
# File to load
gun_violence_data_to_load = Path("Resource/gun-violence-data.csv/")
us_pop_data_to_load = Path("Resource/us_pop_by_state.csv")
# Read gun violence and US pop Data File and store into Panda Dataframes
gun_data = pd.read_csv(gun_violence_data_to_load)
us_pop_data = pd.read_csv(us_pop_data_to_load)
# Combine the data into a single dataset.
data_complete = pd.merge(gun_data, us_pop_data, on='state')
data_complete.head()

,incident_id,date,state,city_or_county,address,n_killed,n_injured,incident_url,source_url,incident_url_fields_missing,...,participant_relationship,participant_status,participant_type,sources,state_house_district,state_senate_district,rank,state_code,2020_census,percent_of_total
0,461105,2013-01-01,Pennsylvania,Mckeesport,1506 Versailles Avenue and Coursin Street,0,4,http://www.gunviolencearchive.org/incident/461105,http://www.post-gazette.com/local/south/2013/0...,False,...,NaN,0::Arrested||1::Injured||2::Injured||3::Injure...,0::Victim||1::Victim||2::Victim||3::Victim||4:...,http://pittsburgh.cbslocal.com/2013/01/01/4-pe...,NaN,NaN,5.0,PA,13002700,0.0386
1,484268,2013-04-09,Pennsylvania,Philadelphia,Somerset Street and Lee Street,1,3,http://www.gunviolencearchive.org/incident/484268,http://guncrisis.org/2013/04/10/quadruple-shoo...,False,...,NaN,0::Killed||1::Injured||2::Injured||3::Injured|...,0::Victim||1::Victim||2::Victim||3::Victim||4:...,http://www.philly.com/philly/blogs/dncrime/Fou...,NaN,NaN,5.0,PA,13002700,0.0386
2,485885,2013-04-28,Pennsylvania,Chester,Rose and Upland Street,1,3,http://www.gunviolencearchive.org/incident/485885,http://several%20men%20inside%20the%20vehicle%...,False,...,NaN,0::Killed||1::Injured||2::Injured||3::Injured|...,0::Victim||1::Victim||2::Victim||3::Victim||4:...,http://www.nbcphiladelphia.com/news/local/4-Me...,NaN,NaN,5.0,PA,13002700,0.0386
3,486068,2013-05-06,Pennsylvania,Johnstown,Horner and Messenger streets,0,4,http://www.gunviolencearchive.org/incident/486068,http://www.tribdem.com/news/local_news/police-...,False,...,NaN,0::Injured||1::Injured||2::Injured||3::Injured,0::Victim||1::Victim||2::Victim||3::Victim,http://www.fox8tv.com/News/NewsDetails.asp?New...,NaN,NaN,5.0,PA,13002700,0.0386
4,486121,2013-05-11,Pennsylvania,Philadelphia,21st Street and Medary Avenue,0,4,http://www.gunviolencearchive.org/incident/486121,http://articles.philly.com/2013-05-14/news/392...,False,...,NaN,0::Injured||1::Injured||2::Injured||3::Injured...,0::Victim||1::Victim||2::Victim||3::Victim||4:...,http://www.philly.com/philly/blogs/dncrime/Fou...,NaN,NaN,5.0,PA,13002700,0.0386

## Transform
- Remove columns that won't be needed for the project
- Rename column 'population'
- Change column 'date' data type from object to datetime
- Check for duplicates

In [13]:
# Remove columns that are not needed for our analysis
columns = ['incident_id', 'date', 'state', 'state_code', 'city_or_county', 'n_killed', 'n_injured', 'latitude', 'longitude','2020_census']
data_complete = data_complete[columns]
data_complete.rename(columns={'2020_census': 'population'}, inplace = True)
data_complete.head()

,incident_id,date,state,state_code,city_or_county,n_killed,n_injured,latitude,longitude,population
0,461105,2013-01-01,Pennsylvania,PA,Mckeesport,0,4,40.3467,-79.8559,13002700
1,484268,2013-04-09,Pennsylvania,PA,Philadelphia,1,3,39.9924,-75.1300,13002700
2,485885,2013-04-28,Pennsylvania,PA,Chester,1,3,39.8564,-75.3587,13002700
3,486068,2013-05-06,Pennsylvania,PA,Johnstown,0,4,40.3091,-78.9124,13002700
4,486121,2013-05-11,Pennsylvania,PA,Philadelphia,0,4,40.0505,-75.1554,13002700

In [4]:
# Check for null and data type
data_complete.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 236482 entries, 0 to 236481
Data columns (total 10 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   incident_id     236482 non-null  int64
 1   date            236482 non-null  object
 2   state           236482 non-null  object
 3   state_code      236482 non-null  object
 4   city_or_county  236482 non-null  object
 5   n_killed        236482 non-null  int64
 6   n_injured       236482 non-null  int64
 7   latitude        228659 non-null  float64
 8   longitude       228659 non-null  float64
 9   population      236482 non-null  int64
dtypes: float64(2), int64(4), object(4)
memory usage: 19.8+ MB

In [14]:
# Change 'date' column to datetime format
data_complete['date'] = pd.to_datetime(data_complete['date'])
# Check the datatype
data_complete.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 236482 entries, 0 to 236481
Data columns (total 10 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   incident_id     236482 non-null  int64
 1   date            236482 non-null  datetime64[ns]
 2   state           236482 non-null  object
 3   state_code      236482 non-null  object
 4   city_or_county  236482 non-null  object
 5   n_killed        236482 non-null  int64
 6   n_injured       236482 non-null  int64
 7   latitude        228659 non-null  float64
 8   longitude       228659 non-null  float64
 9   population      236482 non-null  int64
dtypes: datetime64[ns](1), float64(2), int64(4), object(3)
memory usage: 19.8+ MB

In [6]:
# Check for duplicates
dup = data_complete.duplicated()
for i in dup:
    if i == True:
        print(i)

## Load
- Import necessary libraries
- Create an engine to connect to Postgres
- Load data into Postgres

Credit to websites that help me write the codes and troubleshooting
- https://github.com/dmcneill0711/Mass-Shootings-and-Children/blob/main/Mass%20Shootings%20Project.ipynb
- https://stackoverflow.com/questions/12906351/importerror-no-module-named-psycopg2
- https://stackoverflow.com/questions/61018823/programmingerror-psycopg2-errors-undefinedcolumn-while-working-with-sqlalche

In [8]:
# pip install psycopg2
from sqlalchemy import create_engine
from password import password

In [9]:
engine = create_engine(f"postgresql://postgres:{password}@localhost:5432/Gun_Violence")
connection = engine.connect()

In [10]:
# Check for table
engine.table_names()

C:\Users\Alice Nguyen\AppData\Local\Temp\ipykernel_10768\2765917107.py:2: SADeprecationWarning: The Engine.table_names() method is deprecated and will be removed in a future release.  Please refer to Inspector.get_table_names(). (deprecated since: 1.4)
  engine.table_names()

['gunviolence']

In [14]:
# Add our dataframe into database
data_complete.to_sql(name='gunviolence', con=engine, if_exists='append', index=False)

482

In [15]:
# Confirm data is added to database
pd.read_sql_query('SELECT * FROM gunviolence', con=engine).head()

,incident_id,date,state,state_code,city_or_county,n_killed,n_injured,latitude,longitude,population
0,461105,2013-01-01,Pennsylvania,PA,Mckeesport,0,4,40.3467,-79.8559,13002700
1,484268,2013-04-09,Pennsylvania,PA,Philadelphia,1,3,39.9924,-75.1300,13002700
2,485885,2013-04-28,Pennsylvania,PA,Chester,1,3,39.8564,-75.3587,13002700
3,486068,2013-05-06,Pennsylvania,PA,Johnstown,0,4,40.3091,-78.9124,13002700
4,486121,2013-05-11,Pennsylvania,PA,Philadelphia,0,4,40.0505,-75.1554,13002700

## Analysis

In [27]:
states = ['California', 'Illinois', 'New York','Alabama','Florida', 'Minnesota', 'Oregon', 'Maine']
data_needed = data_complete[data_complete.state.isin(states) == True]
data_needed.state.unique()

array(['California', 'Illinois', 'New York', 'Florida', 'Alabama',
       'Minnesota', 'Oregon', 'Maine'], dtype=object)

In [28]:
data_needed['mass_shooting'] = data_needed['n_killed'] >= 4
data_needed.head()

C:\Users\Alice Nguyen\AppData\Local\Temp\ipykernel_7036\3931619163.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_needed['mass_shooting'] = data_needed['n_killed'] >= 4

,incident_id,date,state,state_code,city_or_county,n_killed,n_injured,latitude,longitude,population,mass_shooting
8929,460726,2013-01-01,California,CA,Hawthorne,1,3,33.9090,-118.333,39538223,False
8930,479389,2013-01-21,California,CA,Brentwood,0,4,37.9656,-121.718,39538223,False
8931,479580,2013-02-03,California,CA,Yuba (county),1,3,39.1236,-121.583,39538223,False
8932,480311,2013-02-11,California,CA,Vallejo,1,4,38.1072,-122.228,39538223,False
8933,480358,2013-02-19,California,CA,Orange (county),4,3,33.8031,-117.943,39538223,True

In [29]:
# Remove 2013 data because it's incomplete
years = [2014, 2015, 2016, 2017]
data_needed['year'] = data_needed['date'].dt.year
interim_df = data_needed[data_needed.year.isin(years) == True]
metadata = interim_df.groupby(['year', 'state']).agg({
    'n_killed': 'sum',
    'n_injured': 'sum',
    'mass_shooting': 'sum'
}).reset_index()

metadata

C:\Users\Alice Nguyen\AppData\Local\Temp\ipykernel_7036\1179541977.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_needed['year'] = data_needed['date'].dt.year

    year       state  n_killed  n_injured  mass_shooting
0   2014     Alabama       325        591              0
1   2014  California      1320       1607              4
2   2014     Florida       873       1463              3
3   2014    Illinois       637       2276              3
4   2014       Maine        22         25              1
5   2014   Minnesota        86        193              0
6   2014    New York       397        965              2
7   2014      Oregon        96        126              0
8   2015     Alabama       385        562              0
9   2015  California      1204       1617              4
10  2015     Florida       796       1547              3
11  2015    Illinois       688       2822              0
12  2015       Maine        31         31              1
13  2015   Minnesota       123        155              1
14  2015    New York       463       1521              1
15  2015      Oregon       125        191              1
16  2016     Alabama       488        761              1
17  2016  California      1265       1896              2
18  2016     Florida      1001       1846              2
19  2016    Illinois       946       4137              3
20  2016       Maine        18         37              0
21  2016   Minnesota       108        217              0
22  2016    New York       416       1275              0
23  2016      Oregon        95        168              0
24  2017     Alabama       544        856              1
25  2017  California      1423       1953              4
26  2017     Florida       950       1801              2
27  2017    Illinois       959       3629              2
28  2017       Maine        33         36              1
29  2017   Minnesota       115        282              1
30  2017    New York       347       1092              0
31  2017      Oregon        99        170              1

In [41]:
data_needed

,incident_id,date,state,state_code,city_or_county,n_killed,n_injured,latitude,longitude,population,mass_shooting,year
8929,460726,2013-01-01,California,CA,Hawthorne,1,3,33.9090,-118.3330,39538223,False,2013
8930,479389,2013-01-21,California,CA,Brentwood,0,4,37.9656,-121.7180,39538223,False,2013
8931,479580,2013-02-03,California,CA,Yuba (county),1,3,39.1236,-121.5830,39538223,False,2013
8932,480311,2013-02-11,California,CA,Vallejo,1,4,38.1072,-122.2280,39538223,False,2013
8933,480358,2013-02-19,California,CA,Orange (county),4,3,33.8031,-117.9430,39538223,True,2013
...,...,...,...,...,...,...,...,...,...,...,...,...
234250,1075768,2018-03-22,Maine,ME,Paris,0,0,44.2176,-70.5173,1362359,False,2018
234251,1075767,2018-03-22,Maine,ME,New Portland,0,0,44.9075,-70.0808,1362359,False,2018
234252,1080880,2018-03-29,Maine,ME,Fairfield,0,0,NaN,NaN,1362359,False,2018
234253,1081936,2018-03-31,Maine,ME,Bangor,0,0,NaN,NaN,1362359,False,2018
234254,1081940,2018-03-31,Maine,ME,Norridgewock,2,0,44.7293,-69.7691,1362359,False,2018

In [24]:
import json
data_needed['date'] = data_needed['date'].dt.strftime('%Y-%m-%d')
metadata_dict = metadata.to_dict(orient='records')
data_needed_dict = data_needed.to_dict(orient='records')
json_data = {
    "metadata": metadata_dict,
    "data": data_needed_dict
}
with open('static\data\data.json', "w") as json_file:
    json.dump(json_data, json_file)

C:\Users\Alice Nguyen\AppData\Local\Temp\ipykernel_7036\1385837523.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_needed['date'] = data_needed['date'].dt.strftime('%Y-%m-%d')

In [25]:
data_needed.to_json(r'static\data\complete_data.json', orient='records')