In [1]:
# Dependencies
import pandas as pd
from pathlib import Path

## Extract 
- Download 2 csv files from Kaggle
    - https://www.kaggle.com/datasets/jameslko/gun-violence-data
    - https://www.kaggle.com/datasets/alexandrepetit881234/us-population-by-state
- Read the 2 csv files into Pandas DataFrame
- Merge them using the 'state' column

In [2]:
# File to load
gun_violence_data_to_load = Path("Resource\gun-violence-data.csv/")
us_pop_data_to_load = Path("Resource/us_pop_by_state.csv")
# Read gun violence and US pop Data File and store into Panda Dataframes
gun_data = pd.read_csv(gun_violence_data_to_load)
us_pop_data = pd.read_csv(us_pop_data_to_load)
# Combine the data into a single dataset.
data_complete = pd.merge(gun_data, us_pop_data, on='state')
data_complete.head()

,incident_id,date,state,city_or_county,address,n_killed,n_injured,incident_url,source_url,incident_url_fields_missing,...,participant_relationship,participant_status,participant_type,sources,state_house_district,state_senate_district,rank,state_code,2020_census,percent_of_total
0,461105,2013-01-01,Pennsylvania,Mckeesport,1506 Versailles Avenue and Coursin Street,0,4,http://www.gunviolencearchive.org/incident/461105,http://www.post-gazette.com/local/south/2013/0...,False,...,NaN,0::Arrested||1::Injured||2::Injured||3::Injure...,0::Victim||1::Victim||2::Victim||3::Victim||4:...,http://pittsburgh.cbslocal.com/2013/01/01/4-pe...,NaN,NaN,5.0,PA,13002700,0.0386
1,484268,2013-04-09,Pennsylvania,Philadelphia,Somerset Street and Lee Street,1,3,http://www.gunviolencearchive.org/incident/484268,http://guncrisis.org/2013/04/10/quadruple-shoo...,False,...,NaN,0::Killed||1::Injured||2::Injured||3::Injured|...,0::Victim||1::Victim||2::Victim||3::Victim||4:...,http://www.philly.com/philly/blogs/dncrime/Fou...,NaN,NaN,5.0,PA,13002700,0.0386
2,485885,2013-04-28,Pennsylvania,Chester,Rose and Upland Street,1,3,http://www.gunviolencearchive.org/incident/485885,http://several%20men%20inside%20the%20vehicle%...,False,...,NaN,0::Killed||1::Injured||2::Injured||3::Injured|...,0::Victim||1::Victim||2::Victim||3::Victim||4:...,http://www.nbcphiladelphia.com/news/local/4-Me...,NaN,NaN,5.0,PA,13002700,0.0386
3,486068,2013-05-06,Pennsylvania,Johnstown,Horner and Messenger streets,0,4,http://www.gunviolencearchive.org/incident/486068,http://www.tribdem.com/news/local_news/police-...,False,...,NaN,0::Injured||1::Injured||2::Injured||3::Injured,0::Victim||1::Victim||2::Victim||3::Victim,http://www.fox8tv.com/News/NewsDetails.asp?New...,NaN,NaN,5.0,PA,13002700,0.0386
4,486121,2013-05-11,Pennsylvania,Philadelphia,21st Street and Medary Avenue,0,4,http://www.gunviolencearchive.org/incident/486121,http://articles.philly.com/2013-05-14/news/392...,False,...,NaN,0::Injured||1::Injured||2::Injured||3::Injured...,0::Victim||1::Victim||2::Victim||3::Victim||4:...,http://www.philly.com/philly/blogs/dncrime/Fou...,NaN,NaN,5.0,PA,13002700,0.0386

## Transform
- Remove columns that won't be needed for the project
- Rename column 'population'
- Change column 'date' data type from object to datetime
- Check for duplicates

In [3]:
# Remove columns that are not needed for our analysis
columns = ['incident_id', 'date', 'state', 'state_code', 'city_or_county', 'n_killed', 'n_injured', '2020_census']
data_complete = data_complete[columns]
data_complete.rename(columns={'2020_census': 'population'}, inplace = True)
data_complete.head()

,incident_id,date,state,state_code,city_or_county,n_killed,n_injured,population
0,461105,2013-01-01,Pennsylvania,PA,Mckeesport,0,4,13002700
1,484268,2013-04-09,Pennsylvania,PA,Philadelphia,1,3,13002700
2,485885,2013-04-28,Pennsylvania,PA,Chester,1,3,13002700
3,486068,2013-05-06,Pennsylvania,PA,Johnstown,0,4,13002700
4,486121,2013-05-11,Pennsylvania,PA,Philadelphia,0,4,13002700

In [4]:
# Check for null and data type
data_complete.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 236482 entries, 0 to 236481
Data columns (total 8 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   incident_id     236482 non-null  int64
 1   date            236482 non-null  object
 2   state           236482 non-null  object
 3   state_code      236482 non-null  object
 4   city_or_county  236482 non-null  object
 5   n_killed        236482 non-null  int64
 6   n_injured       236482 non-null  int64
 7   population      236482 non-null  int64
dtypes: int64(4), object(4)
memory usage: 16.2+ MB

In [5]:
# Change 'date' column to datetime format
data_complete['date'] = pd.to_datetime(data_complete['date'])
# Check the datatype
data_complete.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 236482 entries, 0 to 236481
Data columns (total 8 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   incident_id     236482 non-null  int64
 1   date            236482 non-null  datetime64[ns]
 2   state           236482 non-null  object
 3   state_code      236482 non-null  object
 4   city_or_county  236482 non-null  object
 5   n_killed        236482 non-null  int64
 6   n_injured       236482 non-null  int64
 7   population      236482 non-null  int64
dtypes: datetime64[ns](1), int64(4), object(3)
memory usage: 16.2+ MB

In [6]:
# Check for duplicates
dup = data_complete.duplicated()
for i in dup:
    if i == True:
        print(i)

## Load
- Import necessary libraries
- Create an engine to connect to Postgres
- Load data into Postgres
- Export data to json format for the next steps

Credit to websites that help me write the codes and troubleshooting
- https://github.com/dmcneill0711/Mass-Shootings-and-Children/blob/main/Mass%20Shootings%20Project.ipynb
- https://stackoverflow.com/questions/12906351/importerror-no-module-named-psycopg2
- https://stackoverflow.com/questions/61018823/programmingerror-psycopg2-errors-undefinedcolumn-while-working-with-sqlalche

In [7]:
# pip install psycopg2
from sqlalchemy import create_engine
from password import password

In [8]:
engine = create_engine(f"postgresql://postgres:{password}@localhost:5432/Gun_Violence")
connection = engine.connect()

In [9]:
# Check for table
engine.table_names()

C:\Users\Alice Nguyen\AppData\Local\Temp\ipykernel_16328\2765917107.py:2: SADeprecationWarning: The Engine.table_names() method is deprecated and will be removed in a future release.  Please refer to Inspector.get_table_names(). (deprecated since: 1.4)
  engine.table_names()

['gunviolence']

In [10]:
# Add our dataframe into database
data_complete.to_sql(name='gunviolence', con=engine, if_exists='append', index=False)

IntegrityError: (psycopg2.errors.UniqueViolation) duplicate key value violates unique constraint "gunviolence_pkey"
DETAIL:  Key (incident_id)=(461105) already exists.

[SQL: INSERT INTO gunviolence (incident_id, date, state, state_code, city_or_county, n_killed, n_injured, population) VALUES (%(incident_id)s, %(date)s, %(state)s, %(state_code)s, %(city_or_county)s, %(n_killed)s, %(n_injured)s, %(population)s)]
[parameters: ({'incident_id': 461105, 'date': datetime.datetime(2013, 1, 1, 0, 0), 'state': 'Pennsylvania', 'state_code': 'PA', 'city_or_county': 'Mckeesport', 'n_killed': 0, 'n_injured': 4, 'population': 13002700}, {'incident_id': 484268, 'date': datetime.datetime(2013, 4, 9, 0, 0), 'state': 'Pennsylvania', 'state_code': 'PA', 'city_or_county': 'Philadelphia', 'n_killed': 1, 'n_injured': 3, 'population': 13002700}, {'incident_id': 485885, 'date': datetime.datetime(2013, 4, 28, 0, 0), 'state': 'Pennsylvania', 'state_code': 'PA', 'city_or_county': 'Chester', 'n_killed': 1, 'n_injured': 3, 'population': 13002700}, {'incident_id': 486068, 'date': datetime.datetime(2013, 5, 6, 0, 0), 'state': 'Pennsylvania', 'state_code': 'PA', 'city_or_county': 'Johnstown', 'n_killed': 0, 'n_injured': 4, 'population': 13002700}, {'incident_id': 486121, 'date': datetime.datetime(2013, 5, 11, 0, 0), 'state': 'Pennsylvania', 'state_code': 'PA', 'city_or_county': 'Philadelphia', 'n_killed': 0, 'n_injured': 4, 'population': 13002700}, {'incident_id': 486334, 'date': datetime.datetime(2013, 5, 16, 0, 0), 'state': 'Pennsylvania', 'state_code': 'PA', 'city_or_county': 'Philadelphia', 'n_killed': 0, 'n_injured': 4, 'population': 13002700}, {'incident_id': 487645, 'date': datetime.datetime(2013, 6, 9, 0, 0), 'state': 'Pennsylvania', 'state_code': 'PA', 'city_or_county': 'York', 'n_killed': 0, 'n_injured': 4, 'population': 13002700}, {'incident_id': 964573, 'date': datetime.datetime(2013, 8, 5, 0, 0), 'state': 'Pennsylvania', 'state_code': 'PA', 'city_or_county': 'Philadelphia', 'n_killed': 1, 'n_injured': 0, 'population': 13002700}  ... displaying 10 of 236482 total bound parameter sets ...  {'incident_id': 1082617, 'date': datetime.datetime(2018, 3, 30, 0, 0), 'state': 'South Dakota', 'state_code': 'SD', 'city_or_county': 'Aberdeen', 'n_killed': 0, 'n_injured': 0, 'population': 886667}, {'incident_id': 1083379, 'date': datetime.datetime(2018, 3, 31, 0, 0), 'state': 'South Dakota', 'state_code': 'SD', 'city_or_county': 'Aberdeen', 'n_killed': 0, 'n_injured': 2, 'population': 886667})]
(Background on this error at: https://sqlalche.me/e/14/gkpj)

In [ ]:
# Confirm data is added to database
pd.read_sql_query('SELECT * FROM gunviolence', con=engine).head()

,incident_id,date,state,state_code,city_or_county,n_killed,n_injured,population
0,461105,2013-01-01,Pennsylvania,PA,Mckeesport,0,4,13002700
1,484268,2013-04-09,Pennsylvania,PA,Philadelphia,1,3,13002700
2,485885,2013-04-28,Pennsylvania,PA,Chester,1,3,13002700
3,486068,2013-05-06,Pennsylvania,PA,Johnstown,0,4,13002700
4,486121,2013-05-11,Pennsylvania,PA,Philadelphia,0,4,13002700

In [13]:
# Export data to json format for data visualization
data_complete.to_json(r'Resource\complete_data.json', orient='records')